#  SPDX-License-Identifier: LGPL-2.1+
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

# This unit gets pulled automatically into multi-user.target by
# systemd-rc-local-generator if /etc/rc.local is executable.
[Unit]
Description=Kunpeng PCKbox Server
Before=user-1000.slice

[Service]
Type=simple
ExecStart=bash /usr/bin/pckbox_prepare.sh

[Install]
WantedBy=multi-user.target graphical.target
